body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("images/hardwoodbg.jpg");
    font-family: 'Montserrat', sans-serif;
    
}

.container {
    width: 400px;
    background: #acd9f5;
    padding: 30px;
    border-radius: 50px;
}